    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
   
    body {
        font-family: 'Poppins', sans-serif;
    }
    .animate__animated {
        -webkit-animation-fill-mode: none !important;
        animation-fill-mode: none !important;
    }
    p {
        margin: 0;
    }
    
    .header {
        max-width: 100%;
        max-height: 180px;
    }
    
    .container {
        width: 1200px;
        height: 100%;
    }
    
    .header-container {
        width: 1200px;
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin: 0 auto;
    }
    
    .header-logo {
        font-size: 30px;
        font-weight: 900;
        height: 50px;
        display: flex;
        align-items: center;
    }
    
    .header-logo-text {
        color: #fcae61;
    }
    
    .header-logo-txt {
        color: #242f51;
    }
    
    .header-menu {
        display: flex;
        justify-content: space-between;
        width: 670px;
    }
    
    .header-menu-item {
        font-size: 16px;
        font-weight: 400;
        color: #242f51;
        width: 450px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .btn-text {
        text-decoration: none;
        color: white;
    }
    
    .item-text {
        cursor: pointer;
        transition: 0.5s;
        text-decoration: none;
        color: #242f51;
    }
    
    .item-text:hover {
        text-decoration: none;
        color: #2500f9;
        opacity: 0.7;
    }
    
    .btn-blue {
        width: 150px;
        height: 50px;
        background: #2500f9;
        color: white;
        font-weight: 600;
        font-size: 15px;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: 0.5s;
    }
    
    .btn-blue:hover {
        color: #e9a584;
    }
    
    .btn-demo:hover {
        color: #242f51;
    }
    
    .main {
        max-width: 100%;
        height: 840px;
        background-image: url(../assets/bg-cross.png), url(../assets/bg-circle.png), url(../assets/bg-main.png);
        background-repeat: no-repeat, no-repeat, no-repeat;
        background-position: left, right, bottom;
        background-size: auto, auto, contain;
    }
    
    .main-container {
        width: 1050px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
    }
    
    .main-container-left {
        width: 520px;
        height: 370px;
    }
    
    .main-container-right {
        background: url(../assets/main-phone.png) 100% 100% no-repeat;
        background-position: center;
        width: 450px;
        height: 100%;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }
    
    .left-reward {
        width: 350px;
        height: 35px;
        display: flex;
        align-items: center;
        background: #e2eaed;
        border-radius: 40px;
    }
    
    .reward-done {
        width: 39px;
        height: 35px;
        background: #feaa25;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
    }
    
    .reward-text {
        margin: 0 15px;
    }
    
    .rew-txt {
        font-weight: 500;
        font-size: 18px;
    }
    
    .title-text {
        font-size: 50px;
        font-weight: 700;
        color: #242f51;
        line-height: 70px;
        margin-top: 10px;
    }
    
    .title-subtitle {
        color: #616368;
        font-size: 17px;
        line-height: 30px;
        font-weight: 500;
        margin: 20px 0;
    }
    
    .left-btn {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 30px;
    }
    
    .btn-demo {
        margin-left: 30px;
        color: #2500f9;
        font-weight: 500;
        transition: 0.5s;
        cursor: pointer;
    }
    
    .right-phone-text {
        width: 270px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 170px;
        position: relative;
        bottom: 117px;
        text-align: center;
        font-size: 13px;
        color: gray;
        right: 16px;
        justify-content: space-between;
    }
    
    .phone-title {
        font-weight: 600;
    }
    
    .phone-subtitle {
        line-height: 20px;
    }
    
    .btn-phone {
        font-weight: 500;
        width: 180px;
        height: 50px;
        background: linear-gradient(149deg, rgba(254, 96, 130, 1) 0%, rgba(233, 165, 132, 1) 42%, rgba(254, 96, 130, 1) 72%, rgba(233, 165, 132, 1) 100%);
        border-radius: 30px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        animation: btn-phone 5s infinite linear;
        background-size: 400%;
        background-position: 100% 100%;
        /* transition: background 1s ease-out;
        background-size: 1px 200px; */
    }
    
    @keyframes btn-phone {
        0% {
            background-position: 80% 0%;
        }
        50% {
            background-position: 20% 100%;
        }
        100% {
            background-position: 80% 0%;
        }
    }
    /*     
    .btn-phone:hover {
        background-position: 180px;
    } */
    
    .companies {
        width: 100%;
        height: 350px;
        display: flex;
        justify-content: center;
    }
    
    .companies-container {
        width: 950px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .companies-text {
        height: 30px;
    }
    
    .comp-text {
        font-size: 16px;
        font-weight: 500;
        color: #242f51;
    }
    
    .companies-logo {
        height: 100px;
        width: 100%;
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: space-between;
    }
    
    .comp-logo {
        width: 185.2px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
    }
    
    .img-logo {
        transition: 0.3s linear;
    }
    
    .img-logo:hover {
        transform: scale(1.2);
    }
    
    .app {
        width: 100%;
        height: 900px;
        display: flex;
        justify-content: center;
    }
    
    .app-container {
        width: 1100px;
        height: 800px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .app-left {
        width: 49%;
        height: 100%;
        position: relative;
        background-image: url(../assets/app-phone.png), url(../assets/bg-app.png);
        background-size: contain, contain;
        background-repeat: no-repeat, no-repeat;
        background-position: center, bottom;
        margin-right: 40px;
        transform: rotateZ( 346deg);
    }
    
    .phone-app {
        width: 270px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        font-size: 13px;
        color: gray;
        line-height: 22px;
        bottom: 118px;
        left: 121px;
        justify-content: space-between;
        text-align: center;
        height: 176px;
    }
    
    .phone-app .btn-phone {
        width: 200px;
        border-radius: 20px;
        height: 50px;
    }
    
    .app-right {
        position: relative;
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    
    .app-name {
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .app-title {
        font-size: 40px;
        font-weight: 700;
        color: #242f51;
        line-height: 41px;
    }
    
    .app-text {
        font-size: 15px;
        font-weight: 500;
        color: #616368;
        line-height: 28px;
    }
    
    .app-points {
        height: 460px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .app-point {
        height: 120px;
        display: flex;
        align-items: center;
    }
    
    .svg-point {
        width: 80px;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
    }
    
    .app-point:nth-child(1) .svg-point {
        background: #ffecef;
    }
    
    .app-point:nth-child(2) .svg-point {
        background: #f4f4ff;
    }
    
    .app-point:nth-child(3) .svg-point {
        background: #e4ffee;
    }
    
    .text-point {
        width: 260px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-left: 30px;
    }
    
    .point-title {
        font-size: 18px;
        font-weight: 600;
    }
    
    .app-point:nth-child(1) .point-title {
        color: #f55767;
    }
    
    .app-point:nth-child(2) .point-title {
        color: #2563ff;
    }
    
    .app-point:nth-child(3) .point-title {
        color: #40975f;
    }
    
    .point-text {
        line-height: 20px;
        font-size: 13px;
        color: #616368;
        font-weight: 500;
    }
    
    .smart {
        width: 100%;
        height: 270px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .smart-container {
        width: 1000px;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .smart-left {
        width: 500px;
        color: #242f51;
        font-size: 37px;
        font-weight: 700;
        line-height: 43px;
        border-right: 1px #616368 solid;
    }
    
    .smart-title,
    .smart-subtitle {
        width: 450px;
    }
    
    .smart-right {
        width: 500px;
        color: #616368;
        font-size: 14px;
        font-weight: 500;
        display: flex;
        justify-content: flex-end;
        line-height: 25px;
    }
    
    .benefits {
        width: 100%;
        height: 350px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .benefits-container {
        width: 1000px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .benefits-point {
        width: 270px;
        height: 188px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .benefits-svg {
        width: 80px;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
    }
    
    .benefits-name {
        font-size: 18px;
        font-weight: 600;
    }
    
    .benefits-text {
        line-height: 20px;
        font-size: 14px;
        color: #616368;
        font-weight: 500;
    }
    
    .benefits-point:nth-child(1) .benefits-svg {
        background: #ffecef;
    }
    
    .benefits-point:nth-child(2) .benefits-svg {
        background: #f4f4ff;
    }
    
    .benefits-point:nth-child(3) .benefits-svg {
        background: #e4ffee;
    }
    
    .benefits-point:nth-child(1) .benefits-name {
        color: #f55767;
    }
    
    .benefits-point:nth-child(2) .benefits-name {
        color: #2563ff;
    }
    
    .benefits-point:nth-child(3) .benefits-name {
        color: #40975f;
    }
    
    .designed {
        width: 100%;
        height: 650px;
        display: flex;
        justify-content: center;
        border-bottom: 2px #f4f4f4 solid;
    }
    
    .designed-container {
        width: 1100px;
        height: 560px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    
    .designed-left {
        background: url(../assets/designer.png);
        width: 49%;
        height: 100%;
        position: relative;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .designed-right {
        width: 420px;
        height: 340px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .designed-title {
        font-size: 38px;
        font-weight: 600;
        line-height: 50px;
        color: #242f51;
    }
    
    .designed-text {
        color: #616368;
        font-weight: 500;
        font-size: 14px;
        line-height: 26px;
    }
    
    .features {
        width: 100%;
        height: 900px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .features-container {
        width: 1200px;
        height: 900px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .features-name {
        width: 640px;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        text-align: center;
    }
    
    .features-title {
        color: #242f51;
        font-size: 40px;
        font-weight: 600;
        width: 500px;
    }
    
    .features-text {
        color: #616368;
        line-height: 30px;
    }
    
    .features-advant {
        width: 970px;
        height: 550px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 60px;
    }
    
    .advant-point {
        width: 250px;
        height: 230px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        line-height: 27px;
        align-items: center;
        text-align: center;
    }
    
    .advant-svg {
        width: 80px;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
    }
    
    .advant-point:nth-child(1) .advant-svg {
        background: #ffecef;
    }
    
    .advant-point:nth-child(2) .advant-svg {
        background: #eaf9ff;
    }
    
    .advant-point:nth-child(3) .advant-svg {
        background: #fff6d3;
    }
    
    .advant-point:nth-child(4) .advant-svg {
        background: #e4ffee;
    }
    
    .advant-point:nth-child(5) .advant-svg {
        background: #f4f4ff;
    }
    
    .advant-point:nth-child(6) .advant-svg {
        background: #fdeee4;
    }
    
    .advant-title {
        font-size: 18px;
        font-weight: 600;
        color: #242f51;
    }
    
    .advant-subtitle {
        color: #616368;
        font-size: 14px;
    }
    
    .ultimate {
        width: 100%;
        height: 850px;
        display: flex;
        justify-content: center;
    }
    
    .ultimate-left {
        width: 56%;
    }
    
    .ult-point-left {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .ult-advant-point {
        align-items: flex-start;
        text-align: left;
    }
    
    .ult-title {
        color: #242f51;
        font-size: 40px;
        font-weight: 600;
        width: 400px;
        line-height: 50px;
    }
    
    .ult-subtitle {
        color: #616368;
        font-size: 15px;
        width: 400px;
        line-height: 25px;
        font-weight: 500;
        margin-top: 12px;
    }
    
    .ult-point-left {
        height: 550px;
        margin-top: 40px;
    }
    
    .ult-container {
        display: flex;
        justify-content: space-between;
    }
    
    .ultimate-right {
        width: 56%;
        position: relative;
    }
    
    .ult-bg-phone {
        background: url(../assets/phone-bg.png);
        width: 100%;
        height: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .ult-phone-blue {
        background: url(../assets/ultPhone-blue.png);
        width: 310px;
        height: 550px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: left;
        transform: scale(1) rotateZ( 346deg);
        position: relative;
        top: 200px;
        transition: transform 400ms 0ms, z-index 0ms 400ms;
        /* transition: 0.2s ease-in-out; */
    }
    
    .ult-phone-blue:hover {
        transform: scale(1.2) rotateZ( 346deg);
        z-index: 2;
        transition: transform 400ms 0ms, z-index 0ms 0ms;
    }
    
    .ult-phone-white:hover {
        transform: scale(1.1) rotateZ( 11deg);
        z-index: 2;
        transition: transform 400ms 0ms, z-index 0ms 0ms;
    }
    
    .ult-phone-white {
        background: url(../assets/ultPhone-white.png);
        width: 310px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 590px;
        transform: scale(1) rotateZ( 11deg);
        position: absolute;
        top: 210px;
        left: 220px;
        transition: transform 400ms 0ms, z-index 0ms 400ms;
    }
    
    .phone-blue-text {
        width: 180px;
        height: 90px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        color: white;
        position: relative;
        top: 365px;
        left: 70px;
        font-size: 11px;
        font-weight: 400;
        line-height: 15px;
    }
    
    .phone-white-text {
        width: 200px;
        height: 127px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        top: 95px;
        left: 40px;
        font-size: 12px;
        font-weight: 400;
        line-height: 15px;
        color: #263e74;
    }
    
    .phone-white-title {
        font-size: 24px;
        font-weight: 600;
    }
    
    .phone-white-subtitle {
        font-size: 6px;
    }
    
    .phone-white-btn {
        width: 90px;
        height: 30px;
        background: linear-gradient(149deg, rgba(250, 25, 126, 1) 0%, rgba(205, 49, 183, 1) 42%, rgba(250, 25, 126, 1) 72%, rgba(205, 49, 183, 1) 100%);
        animation: phone-white-btn 5s infinite linear;
        background-size: 400%;
        background-position: 100% 100%;
        border-radius: 1px;
        box-shadow: 0px 25px 42px 0px #cd31b7;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 10px;
        font-weight: 600;
        cursor: pointer;
    }
    
    @keyframes phone-white-btn {
        0% {
            background-position: 80% 0%;
        }
        50% {
            background-position: 20% 100%;
        }
        100% {
            background-position: 80% 0%;
        }
    }
    
    .exFeatures {
        width: 100%;
        height: 900px;
        display: flex;
        justify-content: center;
        border-bottom: 2px #f4f4f4 solid;
    }
    
    .exFeatures-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .exFeatures-text {
        width: 600px;
        height: 200px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .exFeatures-title {
        color: #242f51;
        font-size: 35px;
        font-weight: 600;
        line-height: 40px;
    }
    
    .exFeatures-subtitle {
        color: #616368;
        line-height: 30px;
        font-weight: 500;
    }
    
    .exFeatures-switch {
        height: 40px;
        width: 230px;
        display: flex;
        align-items: center;
        border: 2px #ebebeb solid;
        border-radius: 30px;
        color: #616368;
        font-weight: 500;
        justify-content: space-evenly;
        font-size: 15px;
    }
    
    .switch-text {
        width: 110px;
        height: 38px;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #616368;
        cursor: pointer;
        transition: all 1s ease;
    }
    
    .switch-text:nth-child(1) {
        color: white;
    }
    
    .btn_bg {
        background: #2500f9;
        height: 4%;
        width: 120px;
        position: absolute;
        margin-left: -107px;
        z-index: -1;
        transition: all 1s ease;
        border-radius: 55px;
    }
    
    .btn-bg_active {
        background: #2500f9;
        height: 4%;
        width: 120px;
        position: absolute;
        margin-left: 107px;
        z-index: -1;
        border-radius: 55px;
    }
    /* .btn_bg {
        background: #2500f9;
        height: 4%;
        width: 10%;
        position: absolute;
        margin-left: -9%;
        z-index: -1;
        transition: 1.0s;
        border-radius: 55px;
    }
    
    .switch-text:hover+.btn_bg {
        
    }
    
    .switch-text>.switch-text:hover {
        color: white;
    }
    
    .btn_two:hover~.btn_one {
        color: #a6afbf;
    }
     */
    
    .exFeatures-offers {
        width: 630px;
        height: 550px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .exFeatures-offer {
        width: 300px;
        height: 540px;
        box-shadow: 0px 40px 50px -5px #ebebeb;
    }
    
    .offer-top {
        height: 190px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background: linear-gradient(to bottom, white, #f4f7f9);
    }
    
    .offer-top-cost {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .top-cost {
        font-size: 60px;
        font-weight: 600;
        color: #242f51;
    }
    
    .top-month {
        height: 44px;
        display: flex;
        align-items: flex-end;
        color: #616368;
    }
    
    .offer-top-class {
        height: 55px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    
    .class-name {
        font-size: 18px;
        font-weight: 600;
        color: #242f51;
    }
    
    .class-description {
        color: #616368;
    }
    
    .offer-bot {
        height: 360px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        color: #616368;
        font-size: 15px;
        font-weight: 500;
    }
    
    .client {
        height: 880px;
        display: flex;
        justify-content: center;
        background: url(../assets/bg-map.png);
        background-repeat: no-repeat;
        background-size: 54%;
        width: 100%;
        margin: 0 auto;
        background-position: center left;
        position: relative;
    }
    
    .client-photo {
        position: absolute;
        left: 0;
        width: 100%;
        height: 54%;
    }
    
    .photo-container {
        position: absolute;
        left: 0;
        display: flex;
        align-items: center;
        width: 50%;
        height: 100%;
    }
    
    .client-face {
        position: absolute;
    }
    
    .carousel-client {
        width: 80px;
        height: 80px;
    }
    
    .client-photo .client-face:nth-child(1) {
        width: 9%;
        top: 12%;
        left: 5%;
    }
    
    .client-photo .client-face:nth-child(2) {
        width: 13%;
        top: 47%;
        left: 10%;
    }
    
    .client-photo .client-face:nth-child(3) {
        bottom: 0;
        left: 30%;
        width: 18%;
    }
    
    .client-photo .client-face:nth-child(4) {
        width: 10%;
        left: 37%;
        top: 3%;
    }
    
    .client-photo .client-face:nth-child(5) {
        width: 14%;
        left: 45%;
        top: 40%;
    }
    
    .client-photo .client-face:nth-child(6) {
        left: 61%;
        bottom: 18%;
        width: 11%;
    }
    
    .client-photo .client-face:nth-child(7) {
        width: 10%;
        top: 5%;
        left: 79%;
    }
    
    .client-photo .client-face:nth-child(8) {
        display: none;
        right: 30px;
        bottom: 70px;
    }
    
    .client-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .client-left {
        width: 50%;
        height: 100%;
    }
    
    .client-right {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .client-right-container {
        width: 100%;
        height: 558px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /* transform: translateY(33px); */
    }
    
    .client-right-text {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .name-right {
        font-size: 40px;
        font-weight: 600;
        color: #242f51;
        line-height: 45px;
    }
    
    .name-description {
        color: #616368;
        line-height: 30px;
        margin-top: 15px;
    }
    
    .client-star {
        color: gold;
    }
    
    .client-review {
        height: 160px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .review-name {
        font-size: 20px;
        font-weight: 600;
        color: #242f51;
    }
    
    .review-description {
        color: #616368;
        line-height: 25px;
        font-size: 15px;
    }
    /* .no-js .owl-carousel,
    .owl-carousel.owl-loaded {
        display: flex;
    } */
    
    .client-customer {
        width: 430px;
        height: 100px;
        display: flex;
        align-items: center;
    }
    
    .customer-photo .client-face {
        position: relative;
    }
    
    .customer-title {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 50px;
        width: 290px;
        align-items: flex-start;
        margin-left: 50px;
    }
    
    .customer-name {
        color: #242f51;
        font-size: 18px;
        font-weight: 600;
    }
    
    .customer-post {
        color: #616368;
    }
    
    .switch-customer-container {
        display: flex;
        width: 120px;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        bottom: 21%;
        right: 10%;
        z-index: 9;
    }
    
    .customer-switch {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
        cursor: pointer;
    }
    
    .customer-switch:nth-child(1) {
        border-radius: 30px;
        border: 2px #dee1e6 solid;
        color: #dee1e6;
    }
    
    .switch-band {
        width: 1px;
        height: 20px;
        background: #dee1e6;
    }
    
    .customer-switch:nth-child(3) {
        border: 2px #eff3f8 solid;
        color: #2500f9;
        background: #eff3f8;
    }
    
    .accordion {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .accordion-item {
        width: 900px;
        margin: 5px 0;
        border: 0;
    }
    
    .accordion-button {
        background-color: #f5f7fa;
        padding: 1rem 2.25rem;
    }
    
    .accordion-button:not(.collapsed) {
        color: #242f51;
        box-shadow: none;
        background-color: #f5f7fa;
    }
    
    .accordion-button:focus {
        border-color: none;
        box-shadow: none;
    }
    
    .accordion-button {
        color: #242f51;
        font-weight: 600;
    }
    
    .accordion-body {
        background-color: #f5f7fa;
        padding: 1rem 2.25rem 2.25rem;
        color: #616368;
        font-size: 15px;
    }
    
    .accordion-button::after {
        background-image: url(../assets/plus.png);
    }
    
    .accordion-button:not(.collapsed)::after {
        background-image: url(../assets/plus.png);
        transform: rotate( 224deg);
    }
    
    .question {
        display: flex;
        align-items: flex-start;
        height: auto;
        padding-bottom: 50px;
        justify-content: center;
        border-bottom: 2px #f4f4f4 solid;
    }
    
    .question-container {
        display: flex;
        flex-direction: column;
        height: 520px;
        justify-content: space-around;
        align-items: center;
    }
    
    .question-title {
        width: 650px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 170px;
    }
    
    .question-name {
        font-size: 40px;
        font-weight: 600;
        color: #242f51;
    }
    
    .question-description {
        color: #616368;
        font-size: 15px;
        text-align: center;
        line-height: 29px;
    }
    
    .download {
        height: 400px;
        display: flex;
        justify-content: center;
        background: url(../assets/download-bg.png);
        background-repeat: no-repeat;
        background-size: 800px;
        width: 1400px;
        margin: 0 auto;
        background-position: right 4px;
        position: relative;
    }
    
    .download-container {
        display: flex;
        align-items: center;
    }
    
    .download-left {
        width: 600px;
        height: 260px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    
    .download-name {
        font-size: 40px;
        font-weight: 600;
        color: #242f51;
    }
    
    .download-description {
        color: #616368;
        font-size: 15px;
        line-height: 22px;
    }
    
    .download-img {
        margin-top: 20px;
        width: 400px;
        display: flex;
        justify-content: space-between;
        object-fit: cover;
    }
    
    .footer {
        width: 100%;
        height: 400px;
        background: #09142e;
    }
    
    .footer-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .footer-logo-txt,
    .footer-menu-item {
        color: white;
    }
    
    .footer-social {
        width: 180px;
        display: flex;
        justify-content: space-between;
    }
    
    .fa-github-square,
    .fa-slack-hash,
    .fa-twitter,
    .fa-facebook-f {
        color: #273043;
        font-size: 30px;
    }
    
    .footer-copyriting {
        color: #273043;
    }
    
    .popup-burger {
        display: none;
        width: 100%;
        height: 70px;
    }
    
    .burger-menu {
        display: flex;
        justify-content: flex-end;
    }
    
    .burger-menu_button {
        position: fixed;
        z-index: 30;
        width: 60px;
        height: 60px;
        -webkit-transition: 0.4s;
        -moz-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s;
        border-radius: 40px;
        background: rgb(249 249 249 / 10%);
        box-shadow: 1px 1px 2px 1px rgb(36 47 81 / 24%);
        top: 10px;
        right: 10px;
    }
    
    .burger-menu_button_active {
        background: none;
        box-shadow: none;
    }
    
    .burger-menu_button:hover .burger-menu_lines {
        filter: brightness(0.7);
    }
    
    .burger-menu_lines::before,
    .burger-menu_lines::after,
    .burger-menu_lines {
        position: absolute;
        width: 30px;
        background-color: #242f51;
        height: 3px;
        border-radius: 3px;
        -webkit-transition: 0.4s;
        -moz-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s;
    }
    
    .burger-menu_lines {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .burger-menu_lines::before {
        content: '';
        top: -12px;
    }
    
    .burger-menu_lines::after {
        content: '';
        top: 12px;
    }
    
    .burger-menu_active .burger-menu_lines {
        background-color: transparent;
    }
    
    .burger-menu_active .burger-menu_lines::before {
        top: 0;
        transform: rotate(45deg);
    }
    
    .burger-menu_active .burger-menu_lines::after {
        top: 0;
        transform: rotate(-45deg);
    }
    
    .burger-menu_nav {
        padding-top: 120px;
        position: fixed;
        top: 0;
        z-index: 20;
        display: flex;
        flex-flow: column;
        height: auto;
        background-color: #ffffff;
        overflow-y: auto;
        right: -100%;
        -webkit-transition: 0.8s;
        -moz-transition: 0.8s;
        -o-transition: 0.8s;
        transition: 0.8s;
        width: 300px;
        height: 500px;
        border-radius: 0 0 0 70px;
    }
    
    a {
        transition: 0.5s;
    }
    
    a:hover {
        color: #0c1225;
    }
    
    .burger-menu_active .burger-menu_nav {
        right: 0;
        -webkit-transition: 0.4s;
        -moz-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s;
    }
    
    .burger-menu_link {
        padding: 18px 35px;
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 5px;
        font-weight: 400;
        color: #242f51;
        font-weight: 600;
        letter-spacing: 3px;
    }
    
    .burger-menu_link:first-child {
        border-top: 1px solid #fff;
    }
    
    .burger-menu_link:hover {
        filter: brightness(0.9);
    }
    
    .burger-menu_overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 10;
    }
    
    .burger-menu_active .burger-menu_overlay {
        display: block;
        background-color: rgba(0, 0, 0, 0.5);
    }
    
    .exArrow {
        display: none;
    }
    
    @media(min-width: 1700px) {
        .client,
        .download {
            width: 90%;
        }
        .photo-container {
            width: 50%;
        }
        .client-photo {
            height: 60%;
        }
    }
    
    @media(min-width: 1900px) {
        .client,
        .download {
            width: 1600px;
        }
    }
    
    @media(max-width: 1600px) {
        .download {
            width: auto;
        }
    }
    
    @media(max-width: 1200px) {
        .client-photo {
            height: 45%;
        }
        .blue-text {
            font-size: 38px;
        }
        .customer-title {
            width: auto;
        }
        .text-grey {
            font-size: 14px;
        }
        .phone-app {
            left: 87px;
        }
        .ultimate-left {
            width: 65%;
        }
        .ult-bg-phone {
            position: relative;
            right: 7%;
        }
        .ultimate {
            overflow: hidden;
        }
        .download {
            width: auto;
        }
    }
    
    @media(max-width: 992px) {
        .blue-text {
            font-size: 32px;
            text-align: center;
        }
        .title-text,
        .designed,
        .ultimate,
        .footeer,
        .main,
        .download {
            text-align: center;
        }
        .accordion-item {
            width: auto;
        }
        .app-title,
        .smart-title {
            text-align: start;
        }
        .client,
        .download {
            background: none;
        }
        .photo-container,
        .client-left {
            display: none;
        }
        .client-right {
            width: 100%;
        }
        .header-container {
            height: 70px;
        }
        .switch-customer-container {
            bottom: 15%;
        }
        .header-menu-item,
        .menu-btn-free:nth-child(2),
        .main-container-right,
        .app-left,
        .designed-left,
        .ult-bg-phone,
        .ultimate-right {
            display: none;
        }
        .popup-burger {
            display: block
        }
        .main {
            height: 570px;
        }
        .name-description {
            margin: 0;
        }
        .main-container-left {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .main-container {
            justify-content: center;
        }
        .companies,
        .smart {
            height: 200px;
        }
        .comp-logo {
            width: 100px;
        }
        .app-right {
            justify-content: center;
            width: 100%;
            align-items: center;
            flex-direction: inherit;
        }
        .app {
            height: 500px;
        }
        .features-title,
        .ult-text-left {
            width: auto;
        }
        .smart-title {
            font-size: 30px;
        }
        .smart-title,
        .smart-subtitle {
            width: auto;
            padding: 4px;
        }
    
        .benefits-name {
            font-size: 14px;
        }
        .benefits-text {
            font-size: 13px;
        }
        .benefits-point {
            width: 200px;
        }
        .designed {
            height: 360px;
        }
        .designed-right {
            width: 70%;
            justify-content: space-around;
            align-items: center;
        }
        .features-advant {
            height: 50%;
            width: 90%;
            margin: 0;
        }
        .advant-subtitle {
            font-size: 13px;
        }
        .advant-title {
            font-size: 17px;
        }
        .advant-point {
            width: 230px;
            height: 215px;
        }
        .advant-point,
        .benefits-point {
            align-items: center;
            text-align: center;
        }
        .features {
            height: auto;
        }
        .advant-point {
            width: 231px;
            height: 209px;
        }
        .ult-point-left {
            width: 70%;
            height: 450px;
            position: relative;
            top: 10px;
        }
        .ultimate-left {
            width: auto;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }
        .ult-text-left {
            width: 402px;
        }
        .ult-container {
            align-items: center;
        }
        .see-all,
        .ult-text-left,
        .ult-point-left {
            margin: 0 auto;
        }
        .exFeatures-offer {
            width: 250px;
        }
        .offer-top {
            height: 150px;
        }
        .top-cost {
            font-size: 55px;
        }
        .offer-bot {
            height: 280px;
        }
        .exFeatures-offers {
            width: 530px;
        }
        .exFeatures {
            height: 670px;
        }
        .client {
            height: 570px;
        }
        .client-right-text {
            height: 140px;
            justify-content: space-evenly;
        }
        .client-review {
            height: 140px;
        }
        .client-right-container {
            height: 460px;
            justify-content: space-around;
        }
        .accordion-button,
        .accordion-body {
            width: 500px;
            margin: 0 auto;
        }
        .download-left {
            align-items: center;
        }
        .download-container {
            justify-content: center;
        }
        .question {
            height: auto;
            align-items: center;
        }
        .download {
            height: auto;
        }
        .footer {
            height: 200px;
        }
        .app-container,
        .features-container,
        .designed-container,
        .exFeatures-offers,
        .exFeatures-offer,
        .question,
        .question-container {
            height: auto;
        }
        section {
            height: auto;
            /* margin: 30px 0; */
            padding: 30px 0;
        }
        .exFeatures-switch,
        .exFeatures-offers,
        .designed-title,
        .designed-text,
        .learn-more,
        .features-title,
        .features-text,
        .exFeatures-title,
        .exFeatures-subtitle,
        .exFeatures-text {
            margin: 20px 0;
        }
        
        .ult-point-left {
            margin: 0 auto;
        }
        .see-all {
            margin-top: 30px;
        }
        .exFeatures {
            height: auto;
            padding: 20px 0;
        }
    }
    
    @media (max-width: 768px) {
        .blue-text {
            font-size: 30px;
            text-align: center;
        }
        .companies-logo {
            flex-wrap: wrap;
            justify-content: space-evenly;
        }
        .comp-logo {
            width: 150px;
            padding: 20px;
        }
        .companies-container {
            padding-top: 10px;
        }
        .companies,
        .companies-logo,
        .smart,
        .ult-point-left,
        .app,
        .benefits,
        .designed,
        .features,
        .ultimate,
        .exFeatures {
            height: auto;
        }
        
        
        .exFeatures {
            padding: 20px 0;
        }
        .app-right {
            flex-direction: column;
        }
        .app-name {
            height: 110px;
        }
        .app-title,
        .app-name {
            text-align: center;
        }
        .app-points {
            height: 420px;
        }
        .smart-title {
            font-size: 20px;
            text-align: start;
            line-height: 32px;
        }
        .smart-subtitle {
            font-size: 13px;
        }
        .benefits-container {
            flex-wrap: wrap;
        }
        .features-advant,
        .benefits-container {
            justify-content: space-around;
        }
        .features-text,
        .ult-text-left,
        .ult-title,
        .ultimate-left,
        .ult-point-left,
        .features-name {
            width: 100%;
        }
        .features-name {
            height: 150px;
        }
        .ult-subtitle {
            width: 100%;
            margin-top: 5px;
        }
        .see-all {
            margin-top: 30px;
        }
        .question-title {
            width: 90%;
        }
    }
    
    @media (max-width: 576px) {
        .main-container,
        .download-container,
        .download,
        .header-container,
        .smart-container,
        .features-title,
        .exFeatures-container,
        .footer-container,
        .exFeatures-offers,
        .text-point {
            width: auto;
        }
        .designed-right,
        .features-name,
        .exFeatures-text,
        .client-review,
        .client-customer,
        .customer-title,
        .client-right-container,
        .client-container,
        .client-right-text,
        .app-name,
        .client {
            height: auto;
        }
        .client-right-container {
                height: 520px;
                justify-content: space-between;
        }
        .download-left,
        .designed-right,
        .exFeatures-text,
        .client-face,
        .question-title {
            width: 90%;
        }
        .smart-container,
        .container {
            width: 100%;
        }
        .ult-point-left {
            flex-direction: column;
            align-items: center;
        }
    
        .exFeatures-offer {
            width: 200px;
            display: none;
            margin: 0 auto;
        }
        .switch-customer-container {
            bottom: 7%;
            right: 1%;
        }
        .offer-active{
            display: block;
        }
        .accordion,
        .accordion-item,
        .accordion-body,
        .accordion-button,
        .left-reward {
            width: 100%;
        }
        .footer-copyriting {
            font-size: 10px;
        }
        .question-title{
            height: 260px;
        }
        .exArrow {
            display: block;
            width: 40px;
            height: 40px;
            margin: 0 10px;
            display: flex;
            align-items: center;
            background: rgba(36, 47, 81, 0.1);
            border-radius: 50px;
            justify-content: center;
            transition: 0.5s;
            cursor: pointer;
        }
        .fa-chevron-right,
        .fa-chevron-left {
            font-size: 21px;
        }
        .exArrow:hover {
            box-shadow: 1px 2px 10px 3px rgba(36, 47, 81, 0.3);
        }
        .download-img{
            width: 90%;
        }
        .download-img img{
            width: 120px;
        }
        .rew-txt,
        .title-subtitle{
            font-size: 15px;
        }
        .svg-point{
            width: 50px;
            height: 50px;
        }
        .text-point{
            margin-left: 20px;
        }
        .title-text{
            font-size: 40px;
        }
        .blue-text{
            font-size: 25px;
        }
        .name-description, .client-star, .client-review{
            margin: 5px 0;
        }
        .switch-customer-container{
            display: none;
        }
        .owl-stage-outer{
            height: 580px;
        }
        .client-right{
            display: block;
        }
    }
    .fadein {
        -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
           -moz-animation: fadein 2s; /* Firefox < 16 */
            -ms-animation: fadein 2s; /* Internet Explorer */
             -o-animation: fadein 2s; /* Opera < 12.1 */
                animation: fadein 2s;
    }
    
    @keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
    
    /* Firefox < 16 */
    @-moz-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
    
    /* Safari, Chrome and Opera > 12.1 */
    @-webkit-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
    
    /* Internet Explorer */
    @-ms-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
    
    /* Opera < 12.1 */
    @-o-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
    

    /* * {
        border: 1px solid black !important;
    } */